<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DuoLogin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DuoLogin.Properties.Settings>
            <setting name="IntegrationKey" serializeAs="String">
                <value>DI2ZH186SAMF9YDU5GS2</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>Qml87YS3AsF5Nr5bCw0LQpluYbwmm6PKaknxGRvj</value>
            </setting>
            <setting name="ApiHostname" serializeAs="String">
                <value>api-fa198eb1.duosecurity.com</value>
            </setting>
            <setting name="RandomKey" serializeAs="String">
                <value>ADMN3TRL42554GOQEAA36ITZFCS8CQVJHRWDX8ET</value>
            </setting>
        </DuoLogin.Properties.Settings>
    </applicationSettings>
</configuration>